.dash_row {
	width: 1600px;
	height: 300px;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 75px;
	
	display: flex;
	justify-content: space-between;

	/*background: black;*/
}

.image_container {
	height: 300px;
	width: 400px;
	/*background: blue;*/
	
	position: relative;

	display: block;
}

.image_container img {	
	position: absolute;
	top: 0;
	left: 0;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.text_container{
	height: 300px;
	/*background: blue;*/

	position: relative;

	color: white;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.half_text_container{
	height: 150px;
	position:relative;
	/*background: red;*/
	
	display: flex;
	align-items: center;
}

#rpm_container {
	width: 400px;
	color: #450070;
}

/*#gear_and_temp{
	width: 400px;
}

#gear_container{
	color: #0104a8; 
}*/

#coolant_container{
	color: #097000;
	width: 400px;
}

#load_and_throttle{
	width: 400px;
}

#throttle_container{
	color: #0104a8; 
}

#load_container{
	color: #097000;
}

#battery_container{
	width: 400px;
	color: #a30606;
}

#oxygen_container{
	width: 400px;
	color: #bc5405;
}

#speed_container{
	width: 400px;
	color: #450070;
}


#rrpot_container{
	width: 400px;
	color: #0104a8;
}

#rlpot_container{
	width: 400px;
	color: #097000;
}

#Coolant::after{
	content: "\00b0 F";
}

#Throttle::after{
	content: "%";
}

#Load::after{
	content: "%";
}

#Volts::after{
	content: "V";
}

#Speed::after{
	content: "mph";
	font-size: 32pt;
}

#O2::after{
	content: "%";
}

.text_container label {
	font-family: "Arial", sans-serif;
	font-size: 48pt;
}

.text_container div {
	font-family: "Arial", sans-serif;
	font-size: 96pt;
	text-align: center;
	
}

.half_text_container label {
	font-size: 48pt;
	display: inline-block;
}

.half_text_container div{
	font-size: 86pt;
	display: inline-block;
}

#throttle_container label {
	font-size: 40pt;
}

#throttle_container div{
	font-size: 64pt;
}

#load_container label {
	font-size: 40pt;
}

#load_container div{
	font-size: 64pt;
}

#oxygen_container label{
	font-size: 42pt;
	width: 500px;
}

#rrpot_container label{
	font-size: 40pt;
}

#rlpot_container label{
	font-size: 40pt;
}