{% extends "index.html" %}
{% block body %}
<div id="dash">
	<div class="dash_row">
		<div class="image_container">
			<img id = "meter" src = "{{url_for('static',filename='img/meter.png')}}" alt="meter"/>
			<img id = "dial" src = "{{url_for('static',filename='img/dial.png')}}" alt="dial"/>
		</div>
		<div class="text_container" id="rpm_container">
			<label for="RPMs"><b>RPMs:</b></label>
			<div id="RPMs" class="data" decimals = "0">0</div>
		</div>
		<!-- <div class="text_container" id="gear_and_temp">
			<div class="half_text_container" id="gear_container">
				<label for="Gear"><b>Gear:&nbsp;</b></label>
				<div id="Gear" class="data" decimals="0">0</div>
			</div> -->
			<div class="text_container" id="coolant_container">
				<label for="Coolant"><b>Coolant:</b></label>
				<div id="Coolant" class="data" decimals="1">0</div>
			</div>
		<!-- </div> -->
	</div>
	<div class="dash_row">
		<div class="text_container" id="load_and_throttle">
			<div class="half_text_container" id="throttle_container">
				<label for="Throttle"><b>Throttle:&nbsp;</b></label>
				<div id="Throttle" class="data" decimals="1">0</div>
			</div>
			<div class="half_text_container" id="load_container">
				<label for="Load"><b>Load:&nbsp;</b></label>
				<div id="Load" class="data" decimals="1">0</div>
			</div>
		</div>
		<div class="text_container" id="battery_container">
			<label for="Volts"><b>Battery:</b></label>
			<div id="Volts" class="data" decimals="2">0</div>
		</div>
		<div class="text_container" id="oxygen_container">
			<label for="O2"><b>Exhaust Oxygen:</b></label>
			<div id="O2" class="data" decimals="1">0</div>
		</div>
	</div>
	<div class="dash_row">
		<div class="text_container" id="speed_container">
			<label for="Speed"><b>Speed:</b></label>
			<div id="Speed" class="data" decimals="0">0</div>
		</div>
		<div class="text_container" id="rrpot_container">
			<label for="RRPot"><b>Right Potentiometer:</b></label>
			<div id="RRPot" class="data" decimals="1">0</div>
		</div>
		<div class="text_container" id="rlpot_container">
			<label for="RLPot"><b>Left Potentiometer:</b></label>
			<div id="RLPot" class="data" decimals="1">0</div>
		</div>
	</div>
	<div class="dash_row">
		<div class="text_container" id="fbrake_container">
			<label for="FBrake"><b>Front Brake Pressure:</b></label>
			<div id="FBrake" class="data" decimals="0">0</div>
		</div>
		<div class="text_container" id="rbrake_container">
			<label for="RBrake"><b>Rear Brake Pressure:</b></label>
			<div id="RBrake" class="data" decimals="0">0</div>
		</div>
	</div>
</div>
{% endblock %}